button {
   border: none;
   background-color: #000;
   color: #fff;
   margin: 5px;
   padding: 10px;
   display: block;
}

.login-form {
   font-size: 1.0rem;
}

.login-form input {
   width: 250px;
   height: 25px;
   margin: 5px;
   padding: 5px;
   display: block;
}